@model Triton.FleetManagement.Web.Models.ScaleHourViewModel

@{
    ViewData["Title"] = "GetAllCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int height;
}



<main id="content" role="main" class="main">
    <!-- Breadcrumb Section -->
    <partial name="_LayoutHeader" view-data='@new ViewDataDictionary(ViewData) { { "HeadingDetails", "Fleet Management" }, { "HeadingSubTittle", "Cost Scales" }, { "HeadingSubDetails", "Search" }, { "hrefLink", @Url.Action("Create", "ScaleHours") },{ "action", "Create" },{ "btnIcon", "fal fa-list-alt" }  }' />

    <!--<div class="content container-fluid my-n9 justify-content-between">
        <form method="post" class="js-validate">
            <div class="row tailLiftDescSerDate">

                <div class="col-sm-3">-->
    <!-- Form Group -->
    <!--<div class="form-group">
        <label for="vinNumberLabel" class="input-label">Cost Scale</label>
        <div class="js-form-message mb-3">
            <input id="RegistrationNumberTextBox" type="text" class="form-control " placeholder="Cost scale" aria-label="Current Value" name="costScale">
        </div>
    </div>-->
    <!-- End Form Group -->
    <!--</div>

    <div class="col-sm-3">-->
    <!-- Form Group -->
    <!--<div class="form-group">
        <input id="btnSubmit" type="submit" value="Search" class="btn btn-primary" style="bottom:-30px;" />
    </div>-->
    <!-- End Form Group -->
    <!--</div>-->
    <!-- End Form Group -->
    <!--</div>
        </form>
    </div>-->

    @if (Model.ShowReport == false)
    {
        <partial name="_RenderSearchScreenCard" view-data='@new ViewDataDictionary(ViewData) { { "TitleText", "Cost Scales" },{ "TitleSubText", "Cost Scale information will be shown here" } }' />
    }
    else
    {
        <div class="content container-fluid my-n9">
            <div class="card">
                <!-- Header -->
                <div class="card-header">
                    <div class="row justify-content-between align-items-center flex-grow-1">
                        <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
                            <form>
                                <!-- Search -->
                                <div class="input-group input-group-merge input-group-flush">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tio-search"></i>
                                        </div>
                                    </div>
                                    <input id="datatableSearch" type="search" class="form-control" placeholder="Filter results" aria-label="Filter results">
                                </div>
                                <!-- End Search -->
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Header -->
                <!-- Table -->
                @if (Model.ScaleHoursModelList.Count() >= 1)
                {
                    height = 150;
                }
                else
                {
                    height = 0;
                }
                <div class="table-responsive datatable-custom">
                    <div id="datatable_wrapper" class="dataTables_wrapper">
                        <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table" style="margin-bottom: @(height+"px");width:100%;"
                               data-hs-datatables-options='{
                            "columnDefs": [ {
                        "targets": 6,
                        "orderable": false
                     }],
                     "order": [],
                     "info": {
                       "totalQty": "#datatableWithPaginationInfoTotalQty"
                     },
                     "search": "#datatableSearch",
                     "entries": "#datatableEntries",
                     "pageLength": 8,
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatablePagination"
                   }'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Job Profile</th>
                                    <th>Cost Scale Hour</th>
                                    <th>Status</th>
                                    <th>Created On</th>
                                    <th>Created By</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.ScaleHoursModelList)
                                {

                                    <tr>
                                        <td class="align-middle">
                                            <a class="d-flex align-items-center">
                                                <div class="avatar avatar-soft-primary avatar-circle">
                                                    <span class="avatar-initials">@item.EmployeeName.Substring(0, 1)</span>
                                                </div>
                                                <div class="ml-3">
                                                    <span class="d-block h5  mb-0">@item.EmployeeName</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="align-middle">
                                            <div class="media align-items-center">
                                                <span>@item.JobProfileDescription</span>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="media align-items-center">
                                                <span>@item.CostScaleHour</span>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="media align-items-center">
                                                <span class="d-flex align-items-center">
                                                    @{
                                                        var activeText = "Inactive";
                                                        var color = "bg-danger";

                                                        if (item.DeletedByUserID == 0)
                                                        {

                                                            activeText = "Active";
                                                            color = "bg-success";
                                                        }
                                                    }

                                                    <span class="legend-indicator @color mr-2">
                                                    </span>
                                                    <small class="d-block">@activeText</small>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            @if (item.CreatedOn != null)
                                            {
                                                <span class="d-block h5 mb-0">@item.CreatedOn.ToString("dd MMMM yyyy")</span>
                                                <span class="d-block font-size-sm">@item.CreatedOn.ToString("hh:mm:tt")</span>

                                            }
                                            else
                                            {
                                                <small class="d-block">NA</small>
                                            }


                                        </td>
                                        <td class="align-middle">
                                            <div class="media align-items-center">
                                                <span>@item.CreatedBy</span>
                                            </div>
                                        </td>

                                        <td class="align-middle">
                                            <div class="hs-unfold">
                                                <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;" data-hs-unfold-options="{
                                            &quot;target&quot;: &quot;#@item.ScaleHourID&quot;,
                                            &quot;type&quot;: &quot;css-animation&quot;
                                        }" data-hs-unfold-target="#@item.ScaleHourID" data-hs-unfold-invoker="">
                                                    Actions <i class="tio-chevron-down ml-1"></i>
                                                </a>

                                                <div id="@item.ScaleHourID" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right hs-unfold-content-initialized hs-unfold-css-animation animated hs-unfold-hidden" data-hs-target-height="145.078" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
                                                    <a class="dropdown-item" href="@Url.Action("Update", "ScaleHours", new { employeeID = item.EmployeeID})"><i class="fal fa-edit mr-1"></i>Edit</a>
                                                    @*<a class="dropdown-item" href="@Url.Action("Delete", "ScaleHours", new { employeeID = item.EmployeeID })"><i class="fad fa-trash mr-1" style="color:red;"></i>Delete</a>*@
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Delete employee" class="dropdown-item" onclick="createModal('@Url.Action("Delete", "ScaleHours" , new {employeeID= item.EmployeeID})')"><i class="fad fa-trash btnEdit mr-2" style="color:red"></i>Delete</a>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Table -->
                <!-- Footer -->
                <div class="card-footer">
                    <!-- Pagination -->
                    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                        <div class="col-sm mb-2 mb-sm-0">
                            @*<div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                                <span class="mr-2">Showing:</span>
                                <select id="datatableEntries" class="js-select2-custom"
                                        data-hs-select2-options='{
                          "minimumResultsForSearch": "Infinity",
                          "customClass": "custom-select custom-select-sm custom-select-borderless",
                          "dropdownAutoWidth": true,
                          "width": true
                        }'>
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                    <option value="8" selected>8</option>
                                    <option value="12">12</option>
                                </select>
                                <span class="text-secondary mr-2">of</span>
                                <span id="datatableWithPaginationInfoTotalQty"></span>
                            </div>*@
                        </div>

                        <div class="col-sm-auto">
                            <div class="d-flex justify-content-center justify-content-sm-end">
                                <!-- Pagination -->
                                <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                            </div>
                        </div>
                    </div>
                    <!-- End Pagination -->
                </div>
                <!-- End Footer -->

            </div>
        </div>
    }
</main>

<!-- Modal -->
<div id="editCardModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure you want to delete this employee?</h5>
                <button type="button" class="btn btn-xs btn-icon btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <div class="modal-body" id="modelContent">
                <partial name="Delete" />
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

@section Scripts{
    <script>
        function createModal(url) {
            $('#modelContent').load(url);
            $('#editCardModal').modal('show');
        }
    </script>
}