@model Triton.Service.Model.TritonFleetManagement.Custom.CustomerModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usernameRole = ViewData.ContainsKey("usernameRole") ? ViewData["usernameRole"].ToString() : null;
    var roleList = new List<string>() { "Admin Director", "Managing Director", "Development Manager", "Developer", "Junior Developer" };

    if (!string.IsNullOrWhiteSpace(usernameRole))
        roleList.Add(usernameRole);
    roleList.Sort();

    var roles = string.Join(", ", roleList);


}

<main id="content" role="main" class="main">
    <!-- Breadcrumb Section -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Fleet Management</a></li>
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Customer</a></li>

                        </ol>
                    </nav>
                    <h1 class="page-header-title">Documents</h1>
                </div>

                <div class="col-sm-auto">
                    <a class="btn btn-primary" href="javascript:;" data-toggle="modal" data-target="#exampleModal"><i class="tio-upload-on-cloud mr-1"></i> Upload</a>
                    <!-- Unfold -->
                    <div class="hs-unfold hs-nav-scroller-unfold ml-3">
                        <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-white" href="javascript:;" data-hs-unfold-options="{
                         &quot;target&quot;: &quot;#profileDropdown&quot;,
                         &quot;type&quot;: &quot;css-animation&quot;
                       }" data-hs-unfold-target="#profileDropdown" data-hs-unfold-invoker="">
                            <i class="fal fa-user-lock"></i>
                        </a>

                        <div id="profileDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right mt-1 hs-unfold-hidden hs-unfold-content-initialized hs-unfold-css-animation animated hs-unfold-reverse-y" data-hs-target-height="243" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
                            <span class="dropdown-header">Permissions</span>
                            @foreach (var item in roleList.Distinct())
                            {
                                <a class="dropdown-item" href="#">
                                    <i class="fal fa-lock-alt dropdown-item-icon"></i> @item
                                </a>
                            }

                        </div>
                    </div>
                    <!-- End Unfold -->
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Page Header -->
    </div>
    <!-- End Breadcrumb Section -->
    <!-- Content Section -->
    <div class="content container-fluid my-n9">
        <div class="page-header">
            <div class="js-nav-scroller hs-nav-scroller-horizontal">
                <span class="hs-nav-scroller-arrow-prev" style="display: none;">
                    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                        <i class="tio-chevron-left"></i>
                    </a>
                </span>

                <span class="hs-nav-scroller-arrow-next" style="display: none;">
                    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                        <i class="tio-chevron-right"></i>
                    </a>
                </span>

                <ul class="nav nav-tabs page-header-tabs" id="projectsTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link " href="@Url.Action("GetCustomersById", "Customer", new { customerID = Model.Customer.CustomerID})">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Files <span class="badge badge-soft-dark rounded-circle ml-1">@Model.CustomerDocumentRepositoryList.Count()</span></a>
                    </li>
                </ul>
            </div>

            <!-- End Nav -->
        </div>
        <ul class="list-group">
            @foreach (var item in Model.CustomerDocumentRepositoryList)
            {
                <!-- List Item -->
                <li class="list-group-item">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">

                            @if (item.fileExtension.Extension == ".pdf")
                            {
                                <img class="avatar avatar-xs avatar-4by3" src="~/front-dashboard-v1.1/src/assets/svg/brands/pdf.svg" />
                            }
                            else if (item.fileExtension.Extension == ".docx")
                            {
                                <img class="avatar avatar-xs avatar-4by3" src="~/front-dashboard-v1.1/src/assets/svg/brands/word.svg" />
                            }
                            else if (item.fileExtension.Extension == ".xlsx")
                            {
                                <img class="avatar avatar-xs avatar-4by3" src="~/front-dashboard-v1.1/src/assets/svg/brands/excel.svg" />
                            }
                            else if (item.fileExtension.Extension == ".pptx")
                            {
                                <img class="avatar avatar-xs avatar-4by3" src="~/front-dashboard-v1.1/src/assets/svg/brands/powerpoint.svg" />
                            }
                        </div>

                        <div class="col">
                            <h5 class="mb-0">
                                <a class="text-dark" href="#">@item.ImgName</a>
                            </h5>
                        </div>

                        <div class="col-auto">
                            <div class="hs-unfold">
                                <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;" data-hs-unfold-options="{
                                            &quot;target&quot;: &quot;#@item.DocumentRepositoryID&quot;,
                                            &quot;type&quot;: &quot;css-animation&quot;
                                        }" data-hs-unfold-target="#@item.DocumentRepositoryID" data-hs-unfold-invoker="">
                                    Actions <i class="tio-chevron-down ml-1"></i>
                                </a>

                                <div id="@item.DocumentRepositoryID" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right hs-unfold-content-initialized hs-unfold-css-animation animated hs-unfold-hidden" data-hs-target-height="145.078" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
                                    <a class="dropdown-item" href="@Url.Action("Download", "Customer", new { DocumentRepositoryID = item.DocumentRepositoryID})"><i class="tio-download mr-1"></i>Download Document</a>
                                    <a class="dropdown-item" href="#" id="DeleteFile" onclick="getID(@item.DocumentRepositoryID, @Model.Customer.CustomerID)"><i class="fal fa-trash mr-1"></i>Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row -->
                </li>
                <!-- End List Item -->
            }
        </ul>
    </div>
    <!-- End Content Section -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form method="post" asp-action="Files" asp-controller="Customer" enctype="multipart/form-data">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload Files</h5>
                        <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
                            <i class="tio-clear tio-lg" aria-hidden="true"></i>
                        </button>
                    </div>
                    <!-- End Header -->
                    <!-- Body -->
                    <div class="modal-body">
                        <!-- Dropzone -->
                        <!-- Dropzone -->
                        <div id="attachFilesLabel" class="js-dropzone dropzone-custom custom-file-boxed">
                            <div class="dz-message custom-file-boxed-label">
                                <img class="avatar avatar-xl avatar-4by3 mb-3" src="~/front-dashboard-v1.1/src/assets/svg/illustrations/browse.svg" alt="Image Description">

                                <h5>Drag and drop your file here</h5>

                                <p class="mb-2">or</p>

                                <span class="btn btn-sm btn-white">Browse files</span>
                            </div>
                        </div>
                        <!-- End Dropzone -->
                        <!-- End Dropzone -->
                    </div>
                    <input type="hidden" name="customerID" value="@Model.Customer.CustomerID" />
                    <!-- End Body -->
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submit">Save</button>
                    </div>
                    <!-- End Footer -->
                </div>
            </form>
        </div>
    </div>
    <!-- End Modal -->
</main>

@section scripts{
    <script src="~/front-dashboard-v1.1/dist/assets/vendor/dropzone/dist/dropzone.js"></script>
    <script src="~/front-dashboard-v1.1/dist/assets/vendor/dropzone/dist/min/dropzone.min.js"></script>

    <script>
        function getID(ID1, ID2) {
            $.ajax({
                type: "POST",
                url: "/Customer/DeleteFiles",
                data: {
                    "documentRepositoryID": ID1,
                    "customerID": ID2
                },
                success: function (response) {
                    location.reload(true);
                }
            });
        }
    </script>
    <script>
        $(document).on('ready', function () {
            // INITIALIZATION OF DROPZONE FILE ATTACH MODULE
            // =======================================================
            $('.js-dropzone').each(function () {
                var dropzone = $.HSCore.components.HSDropzone.init('#' + $(this).attr('id'));

                dropzone.on("addedfile", function (file) {
                    console.log(file.name);
                });
            });
        });

        ; (function ($) {
            'use strict';

            $.HSCore.components.HSDropzone = {
                defaults: {
                    // Default variables
                    url: "#",
                    thumbnailWidth: 300,
                    autoDiscover: false,
                    uploadMultiple: true,
                    autoProcessQueue: false,
                    parallelUploads: 10,
                    paramName: function myParamName() {
                        return "File";
                    },
                    thumbnailHeight: 300,
                    previewTemplate: $('<div>' +
                        '  <div class="col h-100 px-1 mb-2">' +
                        '    <div class="dz-preview dz-file-preview">' +
                        '      <div class="d-flex justify-content-end dz-close-icon">' +
                        '        <small class="tio-clear" data-dz-remove></small>' +
                        '      </div>' +
                        '      <div class="dz-details media">' +
                        '        <div class="dz-img">' +
                        '         <img class="img-fluid dz-img-inner" data-dz-thumbnail>' +
                        '        </div>' +
                        '        <div class="media-body dz-file-wrapper">' +
                        '         <h6 class="dz-filename">' +
                        '          <span class="dz-title" data-dz-name></span>' +
                        '         </h6>' +
                        '         <div class="dz-size" data-dz-size></div>' +
                        '        </div>' +
                        '      </div>' +
                        '      <div class="dz-progress progress">' +
                        '        <div class="dz-upload progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div>' +
                        '      </div>' +
                        '      <div class="d-flex align-items-center">' +
                        '        <div class="dz-success-mark">' +
                        '          <span class="tio-checkmark-circle"></span>' +
                        '        </div>' +
                        '      </div>' +
                        '    </div>' +
                        '  </div>' +
                        '</div>').html()
                },

                init: function (el, options) {
                    if (!el.length) return;

                    var context = this,
                        $el = $(el),
                        defaults = Object.assign({}, context.defaults),
                        dataSettings = $el.attr('data-hs-dropzone-options') ? JSON.parse($el.attr('data-hs-dropzone-options')) : {},
                        settings = {
                            init: function () {
                                var $this = this,
                                    $message = $($this.element).find('.dz-message');

                                $this.on('addedfile', function (file) {
                                    if (String(file.type).slice(0, 6) !== 'image/') {
                                        $(file.previewElement).find('.dz-img').replaceWith('<span class="dz-file-initials">' + file.name.substring(0, 1).toUpperCase() + '</span>');
                                    }

                                    $message.hide();
                                });

                                $this.on('removedfile', function () {
                                    if ($this.files.length <= 0) {
                                        $message.show();
                                    }
                                });

                                var submitButton = document.querySelector("#submit");
                                var myDropzone = this; //closure

                                submitButton.addEventListener("click", function () {

                                    //tell Dropzone to process all queued files
                                    myDropzone.processQueue();
                                });
                            }
                        };
                    settings = $.extend(true, defaults, settings, dataSettings, options);

                    /* Start : Init */

                    var newDropzone = new Dropzone(el, settings);

                    /* End : Init */

                    return newDropzone;
                }

            };

        })(jQuery);
    </script>
}
