@model Triton.FleetManagement.Web.Models.BookingsViewModel
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "GetAllCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int height;
    var usernameRole = "Service Advisor";
}



<main id="content" role="main" class="main">
    <!-- Breadcrumb Section -->
    <partial name="_LayoutHeader" view-data='@new ViewDataDictionary(ViewData) { { "HeadingDetails", "Fleet Management" },{ "HeadingSubTittle", "Bookings" },{ "HeadingSubDetails", "Overview" },{ "hrefLink", @Url.Action("Index", "Customer") },{ "usernameRole", @usernameRole } }' />

    <div class="content container-fluid my-n9 justify-content-between">
        <form method="post" class="js-validate">
            <div class="row tailLiftDescSerDate">

                <div class="col-sm-3">
                    <!-- Form Group -->
                    <div class="form-group">
                        <label for="Customer" class="input-label">Customer</label>
                        <div class="js-form-message mb-3">
                            <select id="CustomerDDL" class="js-select2-custom custom-select" size="1" style="opacity: 0;" asp-for="CustomerID" asp-items="Model.BookingsPerCustomerList"
                                    data-hs-select2-options='{
                                                "minimumResultsForSearch": "Infinity"
                                                }'>
                            </select>
                            <!-- End Select2 -->
                        </div>
                    </div>
                    <!-- End Form Group -->
                </div>

                <div class="col-sm-3">
                    <!-- Form Group -->
                    <div class="form-group">
                        <label for="DateRange" class="input-label">Date Range</label>
                        <div id="datepickerWrapperFrom" class="u-datepicker input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="fas fa-calendar"></span>
                                </span>
                                <input name="daterange" id="js-daterangepicker-predefined" class="btn btn-white dropdown-toggle" placeholder="Date From" readonly="readonly" type="text" />
                                <input id="btnSubmit" type="submit" value="Search" class="btn btn-primary ml-5" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Form Group -->
            </div>
        </form>
    </div>

    @if (Model.ShowReport == false)
    {
        <partial name="_RenderSearchScreenCard" view-data='@new ViewDataDictionary(ViewData) { { "TitleText", "Bookings" },{ "TitleSubText", "Booking information will be shown here" } }' />
    }
    else
    {
        <div class="content container-fluid my-n9">
            <div class="card">
                <!-- Header -->
                <div class="card-header">
                    <div class="row justify-content-between align-items-center flex-grow-1">
                        <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
                            <form>
                                <!-- Search -->
                                <div class="input-group input-group-merge input-group-flush">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tio-search"></i>
                                        </div>
                                    </div>
                                    <input id="datatableSearch" type="search" class="form-control" placeholder="Filter results" aria-label="Filter results">
                                </div>
                                <!-- End Search -->
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Header -->
                <!-- Table -->
                @if (Model.Bookings.Count() >= 1)
                {
                    height = 150;
                }
                else
                {
                    height = 0;
                }
                <div class="table-responsive datatable-custom">
                    <div id="datatable_wrapper" class="dataTables_wrapper">
                        <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table" style="margin-bottom: @(height+"px");width:100%;"
                               data-hs-datatables-options='{
                            "columnDefs": [ {
                        "targets": 6,
                        "orderable": false
                     }],
                     "order": [],
                     "info": {
                       "totalQty": "#datatableWithPaginationInfoTotalQty"
                     },
                     "search": "#datatableSearch",
                     "entries": "#datatableEntries",
                     "pageLength": 8,
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatablePagination"
                   }'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Account Name</th>
                                    <th>Reference Number</th>
                                    <th>Vehicle Registration</th>
                                    <th>Booking Reason</th>
                                    <th>Estimated Arrival</th>
                                    <th>Created By</th>
                                    @*<th>Order Number</th>
                                        <th>Estimated Arrival</th>
                                        <th>Actual Arrival</th>
                                        <th>Created Date </th>*@
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.Bookings)
                                {

                                    <tr>
                                        <td class="align-middle">
                                            <a class="d-flex align-items-center">
                                                <div class="avatar avatar-soft-primary avatar-circle">
                                                    <span class="avatar-initials">@item.CustomerName.Substring(0, 1)</span>
                                                </div>
                                                <div class="ml-3">
                                                    <span class="d-block h5  mb-0">@item.CustomerName</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="align-middle">
                                            <div class="media align-items-center">
                                                <span>@item.BookingsID</span>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="media align-items-center">
                                                <span>@item.RegistrationNumber</span>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="media align-items-center">
                                                @{
                                                    var bookingReasons = item.BookingReasons.Split(",");
                                                    foreach (var reason in bookingReasons)
                                                    {
                                                        <span class="badge badge-primary">@reason</span>
                                                        <span style="padding-right:3px;">&nbsp;</span>
                                                    }
                                                }
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            @if (item.EstimatedArrival != null)
                                            {
                                                <span class="d-block h5 mb-0">@item.EstimatedArrival.ToString("dd MMMM yyyy")</span>
                                                <span class="d-block font-size-sm">@item.EstimatedArrival.ToString("hh:mm:tt")</span>

                                            }
                                            else
                                            {
                                                <small class="d-block">NA</small>
                                            }


                                        </td>
                                        <td class="align-middle">
                                            <div class="media align-items-center">
                                                <span>@item.CreatedBy</span>
                                            </div>
                                        </td>
                                        @*<td class="align-middle">
                                                @{
                                                    var orderNumber = string.IsNullOrEmpty(item.OrderNumber) ? string.Empty : item.OrderNumber;
                                                }
                                                <div class="media align-items-center">

                                                    <span>@orderNumber</span>
                                                </div>
                                            </td>
                                            <td class="align-middle">
                                                @if (item.EstimatedArrival != null)
                                                {
                                                    <span class="d-block h5 mb-0">@item.EstimatedArrival.ToString("dd MMMM yyyy")</span>
                                                    <span class="d-block font-size-sm">@item.EstimatedArrival.ToString("hh:mm:tt")</span>

                                                }
                                                else
                                                {
                                                    <small class="d-block">NA</small>
                                                }


                                            </td>

                                            <td class="align-middle">
                                                @if (item.ActualArrival.ToShortDateString() == "0001/01/01")
                                                {
                                                    <small class="d-block">NA</small>
                                                }
                                                else
                                                {
                                                    <span class="d-block h5 mb-0">@item.ActualArrival.ToString("dd MMMM yyyy")</span>
                                                    <span class="d-block font-size-sm">@item.ActualArrival.ToString("hh:mm:tt")</span>
                                                }

                                            </td>
                                            <td class="align-middle">
                                                @if (item.CreatedOn != null)
                                                {
                                                    <span class="d-block h5 mb-0">@item.CreatedOn.ToString("dd MMMM yyyy")</span>
                                                    <span class="d-block font-size-sm">@item.CreatedOn.ToString("hh:mm:tt")</span>

                                                }
                                                else
                                                {
                                                    <small class="d-block">NA</small>
                                                }


                                            </td>*@


                                        <td class="align-middle">
                                            <div class="hs-unfold">
                                                <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;" data-hs-unfold-options="{
                                            &quot;target&quot;: &quot;#@item.BookingsID&quot;,
                                            &quot;type&quot;: &quot;css-animation&quot;
                                        }" data-hs-unfold-target="#@item.BookingsID" data-hs-unfold-invoker="">
                                                    Actions <i class="tio-chevron-down ml-1"></i>
                                                </a>

                                                <div id="@item.BookingsID" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right hs-unfold-content-initialized hs-unfold-css-animation animated hs-unfold-hidden" data-hs-target-height="145.078" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
                                                    <a class="dropdown-item" href="@Url.Action("JobCard", "Bookings", new { bookingsID = item.BookingsID})"><i class="fal fa-edit mr-1"></i>Job Card</a>
                                                    <a class="dropdown-item" href="@Url.Action("GetBookingsById", "Bookings", new { bookingsID = item.BookingsID})"><i class="fal fa-edit mr-1"></i>Edit</a>
                                                    <a class="dropdown-item" href="@Url.Action("DeleteBookings", "Bookings", new { bookingsID = item.BookingsID })"><i class="fal fa-trash-alt mr-1"></i>Delete</a>
                                                    <a class="dropdown-item" href="@Url.Action("InsertDocument", "Bookings", new { bookingsID = item.BookingsID @*@item.Bookings.VehicleID*@})"><i class="fal fa-camera-alt mr-1"></i>Capture Photos</a>
                                                    <a class="dropdown-item" href="@Url.Action("ViewDocuments", "Bookings", new { bookingsID = item.BookingsID @*@item.Bookings.VehicleID*@})"><i class="fal fa-images mr-1"></i>View Photos</a>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Table -->
                <!-- Footer -->
                <div class="card-footer">
                    <!-- Pagination -->
                    <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                        <!--<div class="col-sm mb-2 mb-sm-0">
                        <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                            <span class="mr-2">Showing:</span>-->
                        <!-- Select -->
                        <!--<select id="datatableEntries" class="js-select2-custom"
                                      data-hs-select2-options='{
                          "minimumResultsForSearch": "Infinity",
                          "customClass": "custom-select custom-select-sm custom-select-borderless",
                          "dropdownAutoWidth": true,
                          "width": true
                        }'>
                                  <option value="4">4</option>
                                  <option value="6">6</option>
                                  <option value="8" selected>8</option>
                                  <option value="12">12</option>
                              </select>-->
                        <!-- End Select -->
                        <!--<span class="text-secondary mr-2">of</span>-->
                        <!-- Pagination Quantity -->
                        <!--<span id="datatableWithPaginationInfoTotalQty"></span>
                            </div>
                        </div>-->

                        <div class="col-sm-auto">
                            <div class="d-flex justify-content-center justify-content-sm-end">
                                <!-- Pagination -->
                                <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                            </div>
                        </div>
                    </div>
                    <!-- End Pagination -->
                </div>
                <!-- End Footer -->

            </div>
        </div>
    }
</main>

