@model Triton.FleetManagement.Web.Models.LookUpCodeCategoryViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var color = "btn-soft-success";
    var btnText = "Activate";
    var breadCrumbHeadingSubDetails = "Activate";

    if (Model.LookUpCodes.DeletedByUserID == null)
    {
        color = "btn-soft-danger";
        btnText = "De-activate";
        breadCrumbHeadingSubDetails = "De-Activate";
    }
}

<!-- ========== MAIN ========== -->
<main id="content" role="main" class="main">
    <partial name="_LayoutHeader" view-data='@new ViewDataDictionary(ViewData) { { "HeadingDetails", "Administration" }, { "HeadingSubTittle", "Lookups" }, { "HeadingSubDetails", @breadCrumbHeadingSubDetails } }' />

    <!-- End Breadcrumb Section -->
    <!-- Content Section -->
    <div class="content container-fluid my-n9">
        <form class="js-validate" method="post" asp-action="Delete" asp-controller="LookUpCodes">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">Delete Lookup Code</p>
                </div>
                <div class="card-body">
                    <!-- Input -->
                    <div class="row form-group">
                        <label class="col-sm-3 col-form-label input-label">Name</label>
                        <div class="col-sm-4 js-form-message mb-3">
                            @*<input id="nameTextBox" type="text" class="form-control stringValidation" required
                data-msg="Please enter a name value." placeholder="Name" aria-label="Current Value" value="@Model.LookUpCodes.Name" asp-for="LookUpCodes.Name">*@
                            @Html.DisplayFor(model => model.LookUpCodes.Name)
                        </div>
                    </div>
                    <!-- End Input -->
                    <!-- Input -->
                    <div class="row form-group">
                        <label class="col-sm-3 col-form-label input-label">Detail</label>
                        <div class="col-sm-4 js-form-message mb-3">
                            @*<input id="detailTextBox" type="text" class="form-control stringValidation" required
                data-msg="Please enter a detail value." placeholder="Detail" aria-label="Current Value" value="@Model.LookUpCodes.Detail" asp-for="LookUpCodes.Detail">*@
                            @Html.DisplayFor(model => model.LookUpCodes.Detail)
                        </div>
                    </div>
                    <!-- End Input -->
                    <!-- Input -->
                    <div class="row form-group">
                        <label class="col-sm-3 col-form-label input-label">Sequence</label>
                        <div class="col-sm-4 js-form-message mb-3">
                            @*<input id="sequenceTextBox" type="text" class="form-control stringValidation" required
                data-msg="Please enter a sequence value." placeholder="Sequence" aria-label="Current Value" value="@Model.LookUpCodes.Sequence" asp-for="LookUpCodes.Sequence">*@
                            @Html.DisplayFor(model => model.LookUpCodes.Sequence)
                        </div>
                    </div>
                    <!-- End Input -->
                    <div class="w-100"></div>
                    <!-- End Form -->
                    @Html.HiddenFor(model => model.LookUpCodes.LookUpCodeID)
                    @Html.HiddenFor(model => model.LookUpCodes.Name)
                    @Html.HiddenFor(model => model.LookUpCodes.Detail)
                    @Html.HiddenFor(model => model.LookUpCodes.LookupcodeCategoryID)
                    @Html.HiddenFor(model => model.LookUpCodes.Sequence)
                    @Html.HiddenFor(model => model.LookUpCodes.CreatedByUserID)
                    @Html.HiddenFor(model => model.LookUpCodes.CreatedOn)
                    @Html.HiddenFor(model => model.LookUpCodes.DeletedByUserID)
                    @Html.HiddenFor(model => model.LookUpCodes.DeletedOn)
                    @Html.HiddenFor(model => model.Category)
                </div>
                <!-- Footer -->
                <div class="card-footer d-flex justify-content-end">
                    <a class="btn btn-white" href="@Url.Action("LookUpCodeCategories", "LookUpCodeCategories")">Cancel</a>
                    <input type="submit" value="@btnText" class="btn @color ml-2" id="btnSave" />
                </div>
                <!-- End Footer -->
            </div>
        </form>
    </div>
    <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->